CONTEXT_HUB_BASE_URL=http://127.0.0.1:4040
CONTEXT_HUB_TOKEN=
CONTEXT_HUB_TENANT_ID=tenant_xxx
CONTEXT_HUB_DEFAULT_PARTITION_KEY=project-contexthub
CONTEXT_HUB_PARTITIONS=project-contexthub,memory
CONTEXT_HUB_RECALL_ENABLED=true
CONTEXT_HUB_RECALL_LAYERS=l0
CONTEXT_HUB_RECALL_LIMIT=5
CONTEXT_HUB_RECALL_RERANK=false
